*
{
    margin: 0;
    text-align: center;
}

body
{
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: #2c2c2c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1
{
    height: 10%;
    width: 100%;
}

h2
{
    margin: 5% 0;
}

button
{
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    background: none;
    border: 2px solid gold;
    color: gold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5%;
}

body section:nth-child(5) button
{
    font-size: 1.5rem;
}

p
{
    margin: 5% 0 ;
}

body section:nth-child(5) button + p,
body section:nth-child(4) button + p
{
    margin: 0;
}

section
{
    display: flex;
    flex-direction: column;
    height: 38%;
    width: 28%;
    align-items: center;
    margin: 1%;
    border: 2px solid;
}

input
{
    width: 12rem;
    height: 2.7rem;
    background: none;
    border: 2px solid silver;
    color: silver;
}

div
{
    width: 7rem;
    height: 7rem;
    background: RGB(116, 208, 241);
}

@media all and (min-width: 250px) and (max-width: 850px){
    body
    {
        height: auto;
    }

    section
    {
        width: 90vw;
        height: 15rem;
        margin: 1rem 0;
    }
}