body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button
{
    display: none;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    margin: 0;
    animation-name: b;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background: none;
    transition: 0.3s;
}

button:hover
{
    scale: 1.2;
    cursor: pointer;
}

@keyframes b {
    0% {border: 3px solid red; color: red;}
    10% {border: 3px solid greenyellow; color: greenyellow;}
    30% {border: 3px solid purple; color: purple;}
    30% {border: 3px solid blue; color: blue;}
    40% {border: 3px solid orange; color: orange;}
    50% {border: 3px solid black; color: black;}
    60% {border: 3px solid pink; color: pink;}
    70% {border: 3px solid brown; color: brown;}
    80% {border: 3px solid white; color: white;}
    90% {border: 3px solid gray; color: gray;}
    100% {border: 3px solid yellow; color: yellow;}
}