body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button
{
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    margin: 0;
    animation-name: b;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background: none;
    transition: 0.3s;
}

button:hover
{
    scale: 1.2;
}

@keyframes b {
    0% {border: 2px solid red; color: red;}
    10% {border: 2px solid greenyellow; color: greenyellow;}
    20% {border: 2px solid purple; color: purple;}
    30% {border: 2px solid blue; color: blue;}
    40% {border: 2px solid orange; color: orange;}
    50% {border: 2px solid black; color: black;}
    60% {border: 2px solid pink; color: pink;}
    70% {border: 2px solid brown; color: brown;}
    80% {border: 2px solid white; color: white;}
    90% {border: 2px solid gray; color: gray;}
    100% {border: 2px solid yellow; color: yellow;}
}